<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Il tuo link di recupero password di CarMeeTiN!</h1>
  <p>Ciao <b>{{username}}</b>! Esegui un click <a href="{{recoveryLink}}">qui</a> per recuperare la tua password dimenticata!</p>
  <p>Perfavore, osserva che questo link scadrà a breve, quindi se non dovessi recuperare la tua password in tempo, dovrai richiedere un nuovo link.</p>
  <p>Se <b>non sei stato tu</b>, Puoi semplicemente ignorare questo messaggio.</p><br>
  <p>Questa email è stata generata automaticamente da <a href="carMeeT.in">carMeeT.in</a> per verificare la tua identità.</p>
</body>
</html>
