<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Il tuo link di verifica email!</h1>
  <p>Ciao <b>{{username}}</b>! Esegui un click <a href="{{verificationLink}}">qui</a> per verificare il tuo indirizzo email è sbloccare tutte le funzionalità del sito!</p>
  <p>Perfavore, osserva che questo link scadrà a breve, e anche se <b>non sei stato tu</b>, tutti i dati di questo account saranno cancellati (potresti perdere la proprietà del username)!</p><br>
  <p>Questa email è stata generata automaticamente da <a href="carMeeT.in">carMeeT.in</a> per verificare la tua identità.</p>
</body>
</html>
